# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Plots (ignore generated, keep .gitkeep)
week_01/plots/*
!week_01/plots/.gitkeep
week_02/plots/*
!week_02/plots/.gitkeep

# pyenv local file
.python-version
