# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# VSCode / JetBrains IDE
.vscode/
.idea/

week_01/plots/*
!week_01/plots/.gitkeep
